<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Counsel Requests</title>
        <script type="text/javascript">
            window.onload = function() {
                const userID = window.location.pathname.match(/[0-9][0-9]*/).map(parseInt)[0]
                const acceptCounselRequest = document.getElementById("acceptCounselRequest")
                const backendURL = {{.backendURL}}                
                acceptCounselRequest.onclick = function(e) {
                    e.preventDefault()
                    fetch(backendURL + "/counsel/"+userID, {
                        method: "POST"
                    })
                    .then(res => console.log(res.json()))
                    .catch(err => console.log(err))
                }
            }
        </script>
    </head>

    <body>
        <h1>Counsel Request</h1>
        <a href="/testing/counsel">Go Back</a>
        <div> UserID: {{ .counselRequest.UserID}} </div>
        <div> Details: {{ .counselRequest.Details }} </div>
        <div> Topics: {{ .counselRequest.Topics }} </div>
        <div> LastUpdated: {{ .counselRequest.LastUpdated }}</div>
        <button id="acceptCounselRequest">Accept</button>
    </body>
</html>