h1, 
p {
    font-weight: bold;
    color: white;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.4rem;
    padding-left: 2rem !important;
    background-color: var(--theme-three);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    position: relative;
    max-height: 10vh;
    overflow: hidden;
}

.navbar-left {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

.navbar-logo-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

img {
    height: 2rem;
}

.navlink {
    text-decoration: none;
    font-weight: bold;
    color: var(--theme-two);
    padding: 1rem;
    border: 1px solid var(--theme-three);
}

.navlink:hover,
.navlink:focus {
    color: var(--theme-two);
    /* background-color: var(--theme-two); */
    border: 1px solid var(--theme-two);
    border-radius: 10px;
}

.navlink-active {
    text-decoration: none;
    font-weight: bold;
    color: var(--theme-two);
    padding: 1rem;
    border: 1px solid var(--theme-two);
    border-radius: 10px;
}

.navlink-active:hover,
.navlink-active:focus {
    color: var(--theme-two);
    /* background-color: var(--theme-two); */
    border: 1px solid var(--theme-two);
    border-radius: 10px;
}

.navbar-right {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

.offcanvas {
    color: var(--theme-two);
    background-color: var(--theme-three);
    border: none;
}

.modal-container {
    display: flex;
    flex-direction: row;
}

.nav-gap {
    gap: 1rem;
}

@media (max-width: 1100px) {
    .navbar-container {
        width: 100% !important;
    }
}