/* Dashboard.tsx */

.dashboard_title {
    padding: 1rem 2rem;
    font-size: 2rem;
    font-weight: bold;
    background-color: var(--theme-three);
}

.dashboard_boards {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    gap: 1rem;
    flex-grow: 1;
    background-color: var(--theme-three);
    height: 100vh;
}

.upcoming_appointments {
    width: 30vw;
    height: fit-content;
}

/* Board.tsx */

.board {
    background-color: var(--theme-one);
    padding: 1.5rem;
    border-radius: 10px;
    flex-grow: 1;
    height: fit-content;
}

.board_title {
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--theme-two);
}

.board_cards_column {
    display: flex;
    flex-direction: column;
    height: 50vh;
}

.board_cards_row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 0.5rem;
    height: 50vh;
}

.board_card {
    display: flex;
    flex-direction: column;
    background-color: var(--theme-two);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 1rem;
    margin-bottom: 0.5rem;
    font-size: 0.7rem;
}

.board_cards_row .board_card {
    height: 20vh;
}